<h1>The best blog!</h1>

    Our blog
        <% if Article.public_count == 0 %>
            <%= 'does not have any articles. Write one!' %>
        <% else %>
            has
            <%= Article.public_count %>
            article and counting!
        <% end %>

<ul>
<% @articles.each do |article| %>
    <% unless article.archived? %>

<li>
        <a href="/articles/ <%= article.id %>">

    <%=article.title%>

</li>

<% end %>
<% end %>

</ul>

<%= link_to "New Article", new_article_path %>
